:root {
    --primary-red-color: #FF145B;
  --secondary-red-color: #FFD0DE;
  --dark-brown-shadow-color: rgba(127, 107, 94, 0.2);
  --dark-brown-color: #7F6B5E;
  --brown-color: #D4B7A3;
  --light-brown-color: #FBF1EA;
  --shadow-brown-color: rgba(212, 183, 163, 0.15);

  --input-border-radius-dimen: 7px;
}

* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

#button__container {
    margin-left: auto;
    margin-top: 5%;
}

#button__login {
    background-color: transparent;
    color: var(--primary-red-color);
    font-family: 'Dosis',serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
}

#button__login:hover{
    text-decoration: underline;
    transition: all ease-in-out 2s;
}


#button__signup {
    background-color: var(--primary-red-color);
    color: white;
    border: none;
    font-family: 'Dosis', serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: var(--input-border-radius-dimen);
    width: 6.5rem;
    margin-left: 10px;
    margin-right: 30px;
    padding: .4rem 0;
}


@media screen and (max-width:700px) {
    #button__signup {
        display: none;
    }
    #button__login {
        margin-right: 30px;
    }
}


#title__container{
    margin: auto;
    width: 100%;
    max-width: 25rem;
    text-align: center;
}

#title__signup {
    background-color: var(--primary-red-color);
    color: white;
    font-family: 'Dosis', serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: var(--input-border-radius-dimen);
    width: 100%;
    padding: .9rem 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: none;
}

#title__text {
    font-family: 'Patrick Hand',serif;
    font-size: 28px;
    margin-top: 30px;
    color: var(--dark-brown-color);
}

#OR {
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: var(--brown-color);
    font-family: 'Dosis',serif;
}

#OR:before, #OR:after {
    content: "";
    display: inline-block;
    width: 41%;
    margin: .5em .5em .5em -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}

#OR:after {
    margin: .5em -55% .5em .5em;
}

span {
    display: inline-block;
    vertical-align: middle;
}

title__description {
    margin-top: .7em;
    display: block;
    font-family: 'Dosis',serif;
    color: var(--dark-brown-color);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}
