:root {
    --primary-red-color: #FF145B;
  --secondary-red-color: #FFD0DE;
  --dark-brown-shadow-color: rgba(127, 107, 94, 0.2);
  --dark-brown-color: #7F6B5E;
  --brown-color: #D4B7A3;
  --light-brown-color: #FBF1EA;
  --shadow-brown-color: rgba(212, 183, 163, 0.15);

  --input-border-radius-dimen: 7px;

  --color-post-description-text: #60544A;
  --color-background: #FCF8F6;
  --color-beige-light: #FBF1EA;
  --color-brown-light: #EDD1B7;
  --color-brown: #D4B7A3;
  --color-brown-dark: #7F6B5E;
  --color-pink: #FF145B;
  --color-pink-light: #FFD0DE;

}

* {
  margin: 0;
  padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#button__container {
    margin-left: auto;
    margin-top: 1.5rem;
}


#button__login {
    background-color: transparent;
    color: var(--primary-red-color);
    font-family: 'Dosis',serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    text-decoration: underline;
}

#button__signup {
    background-color: var(--primary-red-color);
    color: white;
    border: none;
    font-family: 'Dosis', serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: var(--input-border-radius-dimen);
    margin-left: 10px;
    margin-right: 30px;
    padding: .4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


@media screen and (max-width:700px) {
    #button__signup {
        display: none;
    }
    #button__login {
        margin-right: 30px;
    }
}


#title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100vw;
    height: 100vh;
    max-width: 25rem;

}

#title__signup {
    background-color: var(--primary-red-color);
    color: white;
    font-family: 'Dosis', serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: var(--input-border-radius-dimen);
    width: 92%;
    padding: .9rem 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border: none;
}



#title__text {
    font-family: 'Patrick Hand',serif;
    font-size: 28px;
    margin-top: 30px;
    color: var(--dark-brown-color);
}

#title__separator {
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: var(--brown-color);
    font-family: 'Dosis',serif;
}

#title__separator:before, #title__separator:after {
    content: "";
    display: inline-block;
    width: 41%;
    margin: .5em .5em .5em -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}

#title__separator:after {
    margin: .5em -55% .5em .5em;
}

span {
    display: inline-block;
    vertical-align: middle;
}

#title__description {
    margin-top: .7em;
    display: block;
    font-family: 'Dosis',serif;
    color: var(--dark-brown-color);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 70px;
}

@media screen and (max-width:400px) {
    #title__signup {
        width: 80%;
    }
    #title__separator:before, #title__separator:after {
        width: 110px;
    }
}

#home-feed {
    max-width: 635px;
    margin: 0 auto;
}