:root {
  --color-post-description-text: #60544A;
  --color-background: #FCF8F6;
  --color-beige-light: #FBF1EA;
  --color-brown-light: #EDD1B7;
  --color-brown: #D4B7A3;
  --color-brown-dark: #7F6B5E;
  --color-pink: #FF145B;
  --color-pink-light: #FFD0DE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input, textarea, button {
  all: unset;
}
input, label {
  display: block;
}

.btn {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Dosis', serif;
  width: calc(100vw - 32px);
  text-align: center;
  padding: 14px;
  cursor: pointer;
}
.btn-primary {
  color: white;
  background-color: var(--color-pink);
  border-radius: 8px;
  margin-top: 40px;
}
.btn-primary:disabled {
  background-color: var(--color-pink-light);
}
.btn-secondary {
  color: var(--color-pink);
  width: auto;
  margin: 8px 0;
}