/* .new-post-form-wrapper,
.new-post-form {
	display: flex;
	flex-direction: column;
	align-items: center;
} */
.new-post-hidden {
	display: none;
}

/* Hides the default choose file button */
#media {
	display: none;
}

.bold-dosis {
	font-family: 'Dosis', serif;
	font-weight: 700;
	font-size: 20px;
}
.input-field {
	border: #FBF1EA solid 2px;
	border-radius: 5px;
}


.new-post-form__add-media {
	cursor: pointer;
	display: flex;
	background-color: #FBF1EA;
	width: 100vw;
	height: 100vw;
}
.new-post-form__add-media > span {
	color: #D4B7A3;
	text-decoration: underline;
	margin: auto;
}

.media-preview {
	width: 100%;
	height: 100%;
	max-height: 400px;
}

/* ************ SECTION: TAGS ******************** */
.new-post-form__tags-label {
	width: 100%;
	margin-top: 16px;
	margin-bottom: 8px;
}
.new-post-form__tags-label > span {
	color: #7F6B5E;
	margin-left: 24px;
}
.new-post-form__tags-input {
	margin: 0 16px;
	padding: 5px 16px 13px;
	width: auto;
}
.new-post-form__tags-input > ul > input {
	/* width: 100%; */
	margin-top: 8px;
	color: #7F6B5E;
	font-family: 'Roboto', serif;
	font-weight: 400;
	width: 70px;
}
.new-post-form__tags-input > ul > input::placeholder {
	color: #D4B7A3;
}
#current-tags {
	display: flex;
	list-style: none;
	flex-flow: row wrap;
}
.top-tags-hidden {
	opacity: 0 !important;
	max-height: 0 !important;
	margin-top: 0px !important;
}
.new-post-form__tags-input__top-tags {
	overflow: hidden;
	opacity: 1;
	max-height: 200px;
	margin-top: 24px;
	transition: all 200ms ease-in-out;
}
.top-tags__header {
	display: flex;
	align-items: center;
}
.header__text {
	display: block;
	margin-right: 16px;
	white-space: nowrap;
	color: var(--color-brown);
	font-size: 12px;
	font-weight: 500;
	font-family: 'Roboto', serif;
}
.header__decoration {
	display: block;
	width: 100%;
	height: 2px;
	border-radius: 5px;
	background-color: var(--color-beige-light);
}
#top-tags {
	display: flex;
	flex-flow: row wrap;
	list-style: none;
}

.new-post-tag {
	font-family: 'Roboto', serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--color-brown);
	background-color: var(--color-beige-light);
	padding: 3px 6px;
	margin-top: 8px;
	margin-right: 8px;
	border-radius: 5px;
}
.new-post-tag-hidden {
	display: none;
}
/* *********************************************** */
.new-post-form__label {
	margin-top: 16px;
	margin-bottom: 8px;
}
.new-post-form__label > span {
	color: #7F6B5E;
	margin-left: 24px;
	letter-spacing: 2px;
}

.new-post-form__desc-input {
	color: #7F6B5E;
	padding-top: 11px;
	padding-bottom: 9px;
	padding-left: 16px;
	padding-right: 16px;
	font-family: 'Roboto', serif;
	font-weight: 400;
	font-size: 16px;
	margin: 0 16px;
}
.new-post-form__desc-input > textarea {
	width: 100%;
	resize: none;
	overflow: hidden;
}
.new-post-form__desc-input > textarea::placeholder {
	color: #D4B7A3;
}