div:empty::after {
    content: '';
    display: block;
    background-color: lightgrey;
    opacity: 1;
    
    animation: loading 2.5s infinite;
}

.post {
    list-style: none;
    
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-bottom: 16px;
    
    background: white;
    border-radius: 12px;
    
    box-shadow: 0 4px 20px rgba(127, 107, 94, .15);
}

.post-header {
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
}
.post-header__picture:empty::after {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}
.post-header__picture {
    margin: 0 16px 0 8px;
    border: 1px solid #E5CAB5;
    border-radius: 50%;
    height:45px;
    width:45px;
    overflow:hidden;
}
.post-header__username:empty::after {
    height: 16px;
    width: 180px;
}
.post-header__username > p {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-brown-dark);
}

.post-media {
    display: flex;
    width: 100%;
    max-height: 500px;
    background: var(--color-media-bg);
}
.post-media > video {
    margin: auto;
    max-width: 100%;
    max-height: 500px;
}
.video {
    display: flex;
    /* background-color: var(--color-media-bg); */
}

.post-media:empty::after {
    height: 300px;
}

.post-media > img {
    height: 100%;
    max-height: 500px;
    max-width: 100%;
    margin-bottom: -4px;
    margin: 0 auto;
}

.post-info {
    margin: 0 16px;
}

.post-info__tags {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 16px 0;
}
.post-info__tags > li {
    list-style: none;
    text-decoration: underline;
    color: var(--color-brown);
    background-color: var(--color-beige-light);
    border-radius: 6px;
    padding: 6px 10px;
    margin: 4px;
    font-family: 'Roboto', serif;
    font-weight: 500;
}
.post-info__tags:empty::after {
    height: 16px;
    width: 290px;
    margin: 16px auto;
}

.post-info__tags .post-tag__item,
.post-info__tags .post-pet__item {
    border-radius:2px;
    margin-right:4px;
    margin-bottom: 4px;
    padding: 1px 4px 1px 4px;
    float:left;
}
.post-info__tags .post-tag__item{
    background: #6184ea;
    color:#fff;
}
.post-info__tags .post-pet__item{
    background: #face00;
}
.post-description-hidden {
    height: 40px;
    position: relative;
    overflow: hidden;
}

.post-info__description::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(transparent, #ffffff);
}
.post-info__description > p {
    color: var(--color-post-description-text);
    font-size: 17px;
    font-weight: 400;
    font-family: 'Roboto', serif;
}
.post-info__description:empty::after {
    height: 40px;
    background-color: transparent;
    background-image: 
    linear-gradient(#d3d3d3, #d3d3d3),
    linear-gradient(#d3d3d3, #d3d3d3);
    background-size: 320px 16px, 290px 16px;
    background-position-y: 0px, 24px;
    background-repeat: no-repeat;
}
.post-description-toggle:empty {
    display: none;
}
.post-description-toggle {
    display: block;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Roboto', serif;
    text-align: center;
    text-decoration: underline;
    color: var(--color-brown);
    cursor: pointer;
}

.post-info__comments {
    margin: 16px 0;
    font-family: 'Roboto', serif;
    font-size: 17px;
    font-weight: 400;
    display: block;
    position: relative;
}

.post-info__comments > span {
    background-color: var(--color-pink);
    border-radius: 40%;
    color: white;
    font-size: 10px;
    padding: 2px 3px 2px 3px;
    position: absolute;
    bottom: 15px;
    left: 19px;
}

.post-info__comments > p {
    display: inline-block;
    margin-left: 3px;
    color: var(--color-brown);
    font-size: 13px;
    margin-left: 20px;
    text-decoration: underline;
}

.post-info__comments:empty::after {
    width: 200px;
    height: 16px;
}

.post-info__timestamp {
    display: flex;
    align-items:center;
}
.post-info__timestamp > p {
    color: #E5CAB5;
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-size: 13px;
    margin-right: 16px;
    white-space: nowrap;
}
.post-info__timestamp > p:empty {
    width: 50px;
    height: 12px;
    margin-right: 8px;
    background-color: lightgrey;
    animation: loading 2s infinite;
}
.post-info__timestamp > span {
    background-color: #E5CAB5;
    width: 100%;
    height: 2px;
    border-radius: 5px;
}


/* ---------- Rating slider---------- */

.post-rating {
    position: relative;
    margin: 8px auto;
    max-width: 300px;
}

.rating-line {
   position: absolute;
   width: 99%;
   height: 9px;
   margin-left: 3px;
   top: 21px;
   border-radius: 10px;
   background-image: linear-gradient(to right, #EDD1B7, #EDD1B7);
}
.rating-dots {
    --d-size: 28px;
    background-image: linear-gradient(to right, #EDD1B7, #EDD1B7);
    height: 50px;
    -webkit-mask-image: 
        url(../svg/circle.svg), 
        url(../svg/circle.svg),
        url(../svg/circle.svg),
        url(../svg/circle.svg),
        url(../svg/circle.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: var(--d-size) var(--d-size);
    -webkit-mask-position-y: center;
    -webkit-mask-position-x: 1%, 25%, 50%, 75%, 100%;
    position: relative;
}

.unrated__slider {
    width: 120% !important;
}
.unrated__wrapper {
    overflow: hidden;
}
.rating-slider {
    position: absolute;
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    top: 20px;
    background-color: transparent;
    outline: none;
}
.rating-slider::-webkit-slider-thumb {
    --size: 45px;
    -webkit-appearance: none;
    background-image: none;
    background-size: cover;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    transform: rotateZ(-90deg) scale(0,0);
    transition: transform 200ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.value_1::-webkit-slider-thumb {
    background-image: url("../icons/Rating_1.png") !important;
    transform: rotateZ(0deg) scale(1,1);
}
.value_2::-webkit-slider-thumb {
    background-image: url("../icons/Rating_2.png") !important;
    transform: rotateZ(0deg) scale(1,1);
}
.value_3::-webkit-slider-thumb {
    background-image: url("../icons/Rating_3.png") !important;
    transform: rotateZ(0deg) scale(1,1);
}
.value_4::-webkit-slider-thumb {
    background-image: url("../icons/Rating_4.png") !important;
    transform: rotateZ(0deg) scale(1,1);
}
.value_5::-webkit-slider-thumb {
    background-image: url("../icons/Rating_5.png") !important;
    transform: rotateZ(0deg) scale(1,1);
}

.gradient_val-plus-2 {
    background-image: linear-gradient(
        to right, 
        #EDD1B7, #EDD1B7 45%, 
        #FFDD2B 47%, 
        #FFDD2B 75%, 
        #00FFA3 100%) !important;
}
.gradient_val-plus-1 {
    background-image: linear-gradient(
        to right, 
        #EDD1B7, #EDD1B7 45%, 
        #FFDD2B 47%, 
        #8CEC61 75%,
        #EDD1B7 78%, 
        #EDD1B7 100%) !important;
}
.gradient_val-minus-1 {
    background-image: linear-gradient(
        to right,
        #EDD1B7 23%, 
        #FF9A56 24%, 
        #FFDD2B 53%, 
        #EDD1B7 54%, 
        #EDD1B7 100%) !important;
}
.gradient_val-minus-2 {
    background-image: linear-gradient(
        to right,
        #FF488A, 
        #FFDD2B 53%, 
        #EDD1B7 54%, 
        #EDD1B7 100%) !important;
}


/* ---------------------------------- */


@keyframes loading {
    from {opacity: 1;}
    50% {opacity: .4;}
    to {opacity: 1;}
}