.visiting-profile {
	z-index: 10;
	display: block;
	position: fixed;
	top: 50px;
	width: 100vw;
	height: calc(100vh - 100px);
	overflow: scroll;
	background-color: var(--color-background);
}

.profile-tab__detail-wrapper {
	background-color: white;
}

.profile-tab__details {
	background-color: white;
	padding-top: 24px;
}

.tab-views__tab-profile {
	display: flex;
	flex-direction: column;
}

.profile-tab__change-pic {
	display: block;
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Dosis', serif;
    font-weight: 700;
    color: var(--color-pink);
    text-decoration: underline;
    font-size: 18px;
}

.profile-tab__pic {
	width: 125px;
	height: 125px;
	border: 2px solid #EDD1B7;
	border-radius: 50%;
	margin: 0 auto;
	overflow: hidden;
	background-color: lightgrey;
	background-size: cover;
}
.profile-tab__pic > img {
	width: 100%;
}

.profile-tab__username {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 8px;
}
.profile-tab__username > img {
	height: 16px;
}
.profile-tab__username > span {
	margin-left: 8px;
	font-family: 'Roboto', serif;
	font-weight: 700;
	color: var(--color-brown-dark);
}

/* .proflie-tab__bio {
	
} */
.proflie-tab__bio > p {
	text-align: justify;
	margin: 16px;
	font-family: 'Roboto', serif;
	font-weight: 300;
	color: var(--color-brown-dark);
}

.profile-tab__stats-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-top: 1px solid #EDD1B7;
	border-bottom: 1px solid #EDD1B7;
}
.profile-tab__stats {
	display: flex;
	justify-content: center;
	margin-top: 8px;
	margin-bottom: 8px;
}
.profile-tab__stats p {
	font-family: 'Dosis', serif;
	font-size: 18px;
}
.stats__followers {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 40px;
}
.stats__followers > p:nth-child(2) {
	font-weight: 700;
	font-size: 20px;
}
.stats__following {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 40px;
}
.stats__following > p:nth-child(2) {
	font-weight: 700;
	font-size: 20px;
}

.btn-following {
	background-color: white !important;
	border: 1px solid var(--color-follow-green) !important;
}
.follow-btn {
	all: unset;
	display: flex;
	background-color: var(--color-pink);
	border-radius: 12px;
	width: 260px;
	height: 36px;
	margin-bottom: 16px;
	box-sizing: border-box;
}
.text-following {
	color: var(--color-follow-text-green) !important;
}
.follow-btn-text {
	position: relative;
	color: white;
	text-align: center;
	margin: auto;
	font-family: 'Dosis', serif;
	font-weight: 700;
	font-size: 17px;
	letter-spacing: 2px;
}
.follow-btn__check-ic {
	display: block;
	position: absolute;
	top: 2px;
	left: -24px;
}

.profile-tab__posts-header {
	text-align: center;
	padding: 12px;
	border-bottom: 1px solid #EDD1B7;
	font-family: 'Dosis', serif;
	font-weight: 500;
	font-size: 20px;
	letter-spacing: 3px;
	color: var(--color-brown-dark);
}

.profile-tab__posts-grid > ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	grid-gap: 3px;
	margin: 8px;
	margin-bottom: 16px;
}
.profile-tab__posts-grid > ul::before {
	content: '';
	width: 0;
	padding-bottom: 100%;
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}
.profile-tab__posts-grid > ul > li:first-child {
	grid-row: 1 / 1;
	grid-column: 1 / 1;
}
/* .profile-tab__posts-grid > li {
	list-style: none;
	background-color: lightgray;
	border-radius: 5px;
} */