
.tab {
  display: none;
  opacity: 0;
  width: 100vw;
  transition: opacity 130ms ease-in-out;
}
.visible {
  opacity: 1;
}
.show-element {
  display: block;
}

.tab h1 {
  font-family: 'Dosis', serif;
  font-weight: 700;
  font-size: 28px;
}
.tab p {
  font-family: 'Roboto', serif;
  margin: 10px;
}

.tab-views {
  margin-top: 50px;
}


.tab-views__tab-home {
  background-color: #FCF8F6;
  padding-top: 1px;
}
.tab-views__tab-search {
  background-color: lightcoral;
  height: 500vh;
}
.tab-views__tab-profile {
  background-color: lightgreen;
  height: 400vh;
}

.load-trigger {
  display: flex;
  justify-content: center;
}
.load-trigger > span {
  width: 20px;
  height: 20px;
  background-color: #D4B7A3;
  border-radius: 50%;
  margin: 16px;
  
}
