
.tab {
  display: none;
  opacity: 0;
  width: 100vw;
  transition: opacity 130ms ease-in-out;
  height: calc(100vh - 101px); /* ADDED BY Samppa 2018-11-29 17:50 */
  overflow:auto;
  overflow-x:hidden;
  overflow-y:auto;
}
.visible {
  opacity: 1;
}
.show-element {
  display: block;
}

.tab-views {
  height: calc(100vh - 101px);
  /* overflow: scroll;  REMOVED BY Samppa 2018-11-29 17:50 */
  overflow: hidden; /* ADDED BY Samppa 2018-11-29 17:50 */
  background-color: var(--color-background);
}
.hidden {
  display: none !important;
}

.tab-views__tab-home > ul {
  max-width: 635px;
  margin: 0 auto;
}
.tab-views__tab-profile {
  /* height: 400vh; */
}

.load-trigger {
  display: flex;
  justify-content: center;
}
.load-trigger > span {
  width: 20px;
  height: 20px;
  background-color: #D4B7A3;
  border-radius: 50%;
  margin: 16px;
  
}
