
.tab {
  display: none;
  opacity: 0;
  width: 100vw;
  transition: opacity 130ms ease-in-out;
  height: calc(100vh - 101px); /* ADDED BY Samppa 2018-11-29 17:50 */
  overflow:auto;
  overflow-x:hidden;
  overflow-y:auto;
}
.visible {
  opacity: 1;
}
.show-element {
  display: block;
}

.tab h1 {
  font-family: 'Dosis', serif;
  font-weight: 700;
  font-size: 28px;
}

.tab-views {
  height: calc(100vh - 101px);
  /* overflow: scroll;  REMOVED BY Samppa 2018-11-29 17:50 */
  overflow: hidden; /* ADDED BY Samppa 2018-11-29 17:50 */
  background-color: var(--color-background);
}
.hidden {
  display: none;
}
/* .tab-views::after {
  content: '';
  width: 100vw;
  height: 100px;
  background-color: red;
} */

/* .tab-views__tab-search {
  background-color: var(--color-background);
  height: 500vh;
} */
.tab-views__tab-home > ul {
  max-width: 635px;
  margin: 0 auto;
}
.tab-views__tab-profile {
  height: 400vh;
}

.load-trigger {
  display: flex;
  justify-content: center;
}
.load-trigger > span {
  width: 20px;
  height: 20px;
  background-color: #D4B7A3;
  border-radius: 50%;
  margin: 16px;
  
}
